
{% extends 'game/index.html' %}
{% load staticfiles %}
{% block content %}


    <div class="choise" class="row">
        <script type="text/javascript">
            function timer(){
                var obj=document.getElementById('timer_inp');
                obj.innerHTML--;
                if (obj.innerHTML==0){
                    setTimeout(function(){},1000);
                } else {
                    setTimeout(timer,1000);
                }
            }
            setTimeout(timer,1000);
        </script>
        <div><p><span id="timer_inp">10</span> sec... </p></div>
        <div class="col-lg-2 col-md-2"></div>

        <div class="col-lg-8 col-md-8">
            <div class="col-lg-4 col-md-4 choise_icon">

                <a href="{% url 'rock' %}" type="submit"><img src="{% static 'game/icons/fisting.svg'  %}"></a>
            </div>
            <div class="col-lg-4 col-md-4 choise_icon">
                <a href="{% url 'scissors' %}"><img  src="{% static 'game/icons/scissors.svg'  %}"></a>
            </div>
            <div class="col-lg-4 col-md-4 choise_icon">
                <a href="{% url 'paper' %}"><img  src="{% static 'game/icons/seig_heil.svg'  %}"></a>
            </div>
        </div>
        <div class="col-lg-2 col-md-2"></div>
    </div>

{% endblock %}