{% extends 'game/index.html' %}

{% block content %}
    <div class="container">
      <table class="table ">
        <thead>
          <tr class="history_tr">
            <th>Date</th>
            <th>You</th>
            <th>Opponent</th>
            <th>Result</th>
          </tr>
        </thead>
      </table>
    </div>
    {% for game in games %}
        <div class="container">
          <table class="table nomargin">
            <tbody>
              <tr class="history_tr">
                <th>{{ game.time }}</th>
                <th>{{ game.bet1 }}</th>
                <th>{{ game.bet2 }}</th>
                <th>{{ game.result }}</th>
              </tr>
            </tbody>
          </table>
        </div>
    {% endfor %}


{% endblock %}