
{% extends 'game/index.html' %}
{% load staticfiles %}
{% block form %}
    <form action="#" class="login_form" class="row">
        <div class="col-lg-3 col-md-3"></div>
        <div class="col-lg-6 col-md-6">
            <div class="input-group" >
                <span class="input-group-addon" id="basic-addon1"><img src="{% static 'game/icons/mail.svg' %}"></span>
                <input type="text" class="form-control" placeholder="Login" aria-describedby="basic-addon1">
            </div>

            <div class="input-group">
                <span class="input-group-addon" id="basic-addon2"><img src="{% static 'game/icons/lock.svg' %}"></span>
                <input type="text" class="form-control" placeholder="Password" aria-describedby="basic-addon1">
            </div>

            <button type="button" class="btn btn-primary">Log in</button>
        </div>
        <div class="col-lg-3 col-md-3"></div>
    </form>
{% endblock %}
