{% extends 'game/index.html' %}
{% load staticfiles %}
{% block content %}

    <div class="stats">
        <div>
            <a href="#"><img class="arrow_img" src="{% static 'game/icons/arrow.svg' %}">
                Top players
            </a>
            <a href="#"><img class="arrow_img flipped_img" src="{% static 'game/icons/arrow.svg' %}">
                Not top players
            </a>
        </div>
        <table class="table">
            <thead>
            <tr>
                <th></th>
                <th>Wins</th>
                <th>Loses</th>
                <th>Draws</th>

                <th style="border-right: none;">Join date</th>
            </tr>
            </thead>
            {% for game in games %}
                <tbody>
                <tr>
                    <th>{{ game.username }}</th>
                    <th>{{ game.win }}</th>
                    <th>{{ game.lose }}</th>
                    <th>{{ game.drow }}</th>

                    <th style="border-right: none;">{{ game.time }}</th>
                </tr>
                </tbody>
            {% endfor %}
        </table>
    </div>

{% endblock %}